.footer {
    text-align: center;
    background-color: black;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer img{
    height: 2%;
    width: 2%;
    margin: 20px;
}
.footer img:hover{
    transform: scale(1.5);
    transition: 1s;
}

